clear
colorama
selenium
requests
python-telegram-bot
uuid
asyncio
pycryptodomex
opencv-python
pyautogui
pyinput
psutil
keyboard
discord
discord.py
sounddevice
wave
pyinstaller
pywin32
winotify
